<a href="https://colab.research.google.com/github/seunghee0518/python_colab/blob/main/sklearn_Multiple_Linear_Regression%5Bdata_boston%5D%26creating_by_numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#MLR by numpy

In [16]:
#data
import numpy as np
x1 = np.array(([2,4,6,8,10]))
x2 = np.array(([0,4,2,3,4]))
y = np.array(([81,93,91,97,100]))

In [17]:
#creat MLR model[epochs = 2000]
a1 = 0
a2 = 0
b = 0
lr = 0.01
epochs = 2001
for i in range(0, epochs) : 
  y_pred = ((a1 * x1) + (a2 * x2)) + b
  error = y - y_pred
  a1_diff = (-(1/(len(x1))))* (sum((x1*error)))
  a2_diff = (-(1/(len(x2)))) * (sum((x2*error)))
  b_diff = (-(1/(len(x1)))) * (sum((y - y_pred)))
  a1 = a1 - (lr * a1_diff)
  a2 = a2 - (lr * a2_diff)
  b = b - (lr*b_diff)

In [18]:
#prediction
print('x1 = 2 & x2 = 2, y_pred ? : ', str(((a1*2)+(a2*2)+b)))

#coefficient
print('a1:', str(a1))
print('a2:', str(a2))
print('b:', str(b))

x1 = 2 & x2 = 2, y_pred ? :  84.27225286661961
a1: 1.5575075035724975
a2: 2.4641717060092954
b: 76.22889444745603

In [19]:
#epochs = 5001
a1_ver2 = 0
a2_ver2 = 0
b_ver2 = 0
epochs2 = 5001
for i in range(0, epochs2) :
  y_pred2 = ((a1_ver2*x1) + (a2_ver2*x2)) + b_ver2
  error2 = y - y_pred2
  a1_diff2 = (-(1/(len(x1)))) * (sum((x1*error2)))
  a2_diff2 = (-(1/(len(x2)))) * (sum((x2*error2)))
  b_diff2 = (-(1/(len(x1)))) * (sum((y - y_pred2)))
  a1_ver2 = a1_ver2 - (lr * a1_diff2)
  a2_ver2 = a2_ver2 - (lr * a2_diff2)
  b_ver2 = b_ver2 - (lr * b_diff2)

In [20]:
#prediction
print('epochs = 5001')
print('x2 = 2 & x2 = 2, y_pred ? :', str(((a1_ver2 * 2) + (a2_ver2 * 2) + b_ver2)))
print('a1 : ', str(a1_ver2))
print('a2 : ', str(a2_ver2))
print('b : ', str(b_ver2))

epochs = 5001
x2 = 2 & x2 = 2, y_pred ? : 85.81984473450294
a1 :  1.3014439133847755
a2 :  2.2867149441630388
b :  78.6435270194073

# simple data

In [21]:
#패키지 가져오기
#회귀분석을 할 수 있게 도와주는 모듈
from sklearn import linear_model
#numpy : 행렬, 벡터 등 수학 계산을 위한 자료구조와 계산 함수
import numpy as np
#pandas : csv파일, 데이터베이스에서 데이터를 읽고 쓰기, 데이터를 테이블형태로 조작
import pandas as pd
#matplotlib : 시각화 패키지(막대그래프, 히스토그램, 파이차트, 산점도 등)
import matplotlib
#matplotlib의 서브 패키지인 pyplot
import matplotlib.pyplot as plt
#ipython notebook에 그림을 추력할 수 있게하는 코드
%matplotlib inline
#matplotlib에서 제공하는 스타일중 하나인 'ggplot'를 사용하겠다는 코드
matplotlib.style.use('ggplot')

In [22]:
# 데이터 만들기
data = {'x1':[13, 18, 17, 20, 22, 21],
        'x2':[9, 7, 17, 11, 8, 10],
        'y':[20, 22, 30, 27, 35, 32]}

#data변수 에 저장된 데이터를 2차원의 수정가능한 테이블형태로 변경
data= pd.DataFrame(data)

#독립변수들과 종속변수를 따로 변수에 저장함
X = data[['x1', 'x2']]
Y = data['y']         
data

   x1  x2   y
0  13   9  20
1  18   7  22
2  17  17  30
3  20  11  27
4  22   8  35
5  21  10  32

In [23]:
#데이터 학습시키기
#선형회귀모델을 만들어 해당 변수에 저장
linear_regression = linear_model.LinearRegression()
#fit 함수를 통해 모델을 학습함
linear_regression.fit(X=pd.DataFrame(X),y=Y)
#학습한 선형회귀모델에 x값을 입력해 y값을 구함, y값이 predicion변수에 저장됨
prediction = linear_regression.predict(X=pd.DataFrame(X))

#선형회귀모델의 a, b 계수를 출력함
#종속변수 y의 값 : yi = a(회귀계수) + b1(회귀계수)x1i + b2x2i +ei(오차항)◆
print('a value = ', linear_regression.intercept_)
print('b value = ', linear_regression.coef_)
print('독립변수의 계수b가 n개만큼 나온 것을 알 수 있음')

a value =  -7.359201773835938
b value =  [1.5443459  0.62472284]
독립변수의 계수b가 n개만큼 나온 것을 알 수 있음

In [24]:
#적합도 검증 : 방법1) 표준오차 구하기
#residuals = 잔차 : 결과의 오류 : 잔차들의 표준편차
residuals = Y - prediction
residuals.describe()
# 전체개수, 평균, 표준편차, 최대값, 최솟값, 백분위수(25%, 50%, 75%)

count    6.000000e+00
mean     2.368476e-15
std      2.622371e+00
min     -3.399667e+00
25%     -1.987805e+00
50%      5.828714e-01
75%      1.415327e+00
max      3.385809e+00
Name: y, dtype: float64

In [25]:
#적합도 검증 : 방법2) 결정계수 구하기
#결론: x값이 y값에 79%영향을 준다
SSE = (residuals**2).sum()
SST = ((Y-Y.mean())**2).sum()
R_squared = 1-(SSE/SST)
print('R_squared = ', R_squared)

R_squared =  0.796944017668523

In [26]:
# 해당 회귀분선모델의 성능평가하기
#MSE를 구하기 위한 모듈을 가져옴
from sklearn.metrics import mean_squared_error
#score에 예측한 결과값과 정확한 결과값을 비교해서 성능을 평가한 값을 넣음
print('score = ', linear_regression.score(X=pd.DataFrame(X), y=Y))
#평균제곱오차값(MSE)을 구함
print('Mean_Squared_Error = ', mean_squared_error(prediction, Y))
#RMSE값을 구함
print('RMSE = ', mean_squared_error(prediction, Y)**0.5)
print('결론 : 결정계수값과 score값이 같다는 것을 알수 있고, RMSE결과를 통해 오차도 작다는 것을 알수 있다.')

score =  0.796944017668523
Mean_Squared_Error =  5.730691056910575
RMSE =  2.3938861829482567
결론 : 결정계수값과 score값이 같다는 것을 알수 있고, RMSE결과를 통해 오차도 작다는 것을 알수 있다.

#boston house

In [27]:
#데이터 불러오기
from sklearn import datasets
boston_house_prices = datasets.load_boston()

#전체 데이터의 key값 출력
print('key값 : ', boston_house_prices.keys)

#전체 데이터 중 data에 대한 전체 행, 열의 길이 출력
print('전체 행 ,열의 길이 : ', boston_house_prices.data.shape)

#해당 데이터에 사용하는 컬럼 이름 출력
print('컬럼 이름 : ', boston_house_prices.feature_names)

key값 :  <built-in method keys of Bunch object at 0x7f5acc4a8350>
전체 행 ,열의 길이 :  (506, 13)
컬럼 이름 :  ['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

In [28]:
# dataset정보 보기 : 각 컬럼들의 설명과, 길이를 확인할 수 있음
print(boston_house_prices.DESCR)

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [29]:
#데이터 프레임 정제1 : 전체 데이터 중 data에 해당하는 값만 데이터프레임형으로 변경
X = pd.DataFrame(boston_house_prices.data)
X.tail()

          0    1      2    3      4   ...   8      9     10      11    12
501  0.06263  0.0  11.93  0.0  0.573  ...  1.0  273.0  21.0  391.99  9.67
502  0.04527  0.0  11.93  0.0  0.573  ...  1.0  273.0  21.0  396.90  9.08
503  0.06076  0.0  11.93  0.0  0.573  ...  1.0  273.0  21.0  396.90  5.64
504  0.10959  0.0  11.93  0.0  0.573  ...  1.0  273.0  21.0  393.45  6.48
505  0.04741  0.0  11.93  0.0  0.573  ...  1.0  273.0  21.0  396.90  7.88

[5 rows x 13 columns]

In [30]:
#데이터 프레임 정제2 : target데이터만 즉 종속변수만 데이터 프레임에 저장하기
X['Price'] = boston_house_prices.target
X.tail()

           0    1      2    3      4  ...      9    10      11    12  Price
501  0.06263  0.0  11.93  0.0  0.573  ...  273.0  21.0  391.99  9.67   22.4
502  0.04527  0.0  11.93  0.0  0.573  ...  273.0  21.0  396.90  9.08   20.6
503  0.06076  0.0  11.93  0.0  0.573  ...  273.0  21.0  396.90  5.64   23.9
504  0.10959  0.0  11.93  0.0  0.573  ...  273.0  21.0  393.45  6.48   22.0
505  0.04741  0.0  11.93  0.0  0.573  ...  273.0  21.0  396.90  7.88   11.9

[5 rows x 14 columns]

In [31]:
# 데이터 학습 시키기
linear_regression = linear_model.LinearRegression()
linear_regression.fit(X=pd.DataFrame(X),y=X['Price'])
prediction = linear_regression.predict(X=pd.DataFrame(X))
print('a value = ', linear_regression.intercept_)
print('b value = ', linear_regression.coef_)

a value =  1.4210854715202004e-13
b value =  [-8.54790267e-17 -2.49800181e-16 -5.85252333e-16 -1.44037004e-14
 -5.88240665e-16  1.13667078e-15 -1.84314369e-16 -4.45715513e-16
 -2.58907479e-16 -1.04083409e-17  7.64633582e-17 -2.98372438e-16
 -4.51461785e-16  1.00000000e+00]

In [32]:
# 적합도 검증: 표본오차
residuals = X['Price']- prediction
residuals.describe()

count    5.060000e+02
mean    -1.929067e-15
std      2.551610e-14
min     -1.012523e-13
25%     -7.105427e-15
50%      3.552714e-15
75%      1.065814e-14
max      3.552714e-14
Name: Price, dtype: float64

In [33]:
# 적합도 : 결정계수
SSE = (residuals**2).sum()
SST = ((X['Price']-X['Price'].mean())**2).sum()
R_squared = 1-(SSE/SST)
print('R_squared = ', R_squared)
print()
print('x값이 y값에 100% 영향을 준다, 하지만 13개의 독립변수중 1개인 것을 감안하면 비교적 높은 수치임을 알 수 있다.')

R_squared =  1.0

x값이 y값에 100% 영향을 준다, 하지만 13개의 독립변수중 1개인 것을 감안하면 비교적 높은 수치임을 알 수 있다.

In [34]:
#해당 모델의 성능 평가
from sklearn.metrics import mean_squared_error
print('score = ', linear_regression.score(X=X, y=X['Price']))
print('Mean_Squared_Error = ', mean_squared_error(prediction, X['Price']))
print('RMSE = ', mean_squared_error(prediction, X['Price'])**0.5)
print('RMEX = 0.0000012966001')
print('결론: RMSE결과를 통해 오차가 작다는 것을 알수 있다.')

score =  1.0
Mean_Squared_Error =  6.535057814024477e-28
RMSE =  2.556375914067506e-14
RMEX = 0.0000012966001
결론: RMSE결과를 통해 오차가 작다는 것을 알수 있다.